/* Custom css */
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
}
.navbar {
  border-top: 2px solid #563d7c;
}
.footer {
  text-align: center;
  color: #999;
  margin-top: 50px;
}

li.done0 {
  list-style-type: none;
}

li.done4 {
  list-style-type: none;
}

.backtotop{
  outline: none;
  text-decoration:none;
  width:40px;
  height:40px;
  color: #0088cc;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:100px;
}

.backtotop:hover{
  outline: none;
  text-decoration:none;
  opacity:1.0;
  color: #0088cc;
}

.backtotop:focus{
  outline: none;
  text-decoration:none;
}

.backtotop:visited{
  outline: none;
  text-decoration:none;
  color: #0088cc;
}
.navbar-header .avatar {
  display: bottom;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  text-align: center;
  line-height: 50px;
}
.navbar-header .avatar img{
  width: 48px;
}

pre {
  background-color: #272822;
  border: 2px solid #ccc;
  color: #eee;
}
